.card {
    padding: 0vmin 0vmin 0vmin 0vmin;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.card-body{
    align-self: start;
    padding: 0vmin 2vmin 1vmin 2vmin;
}

.img-container{
    padding: 2vmin;
}

#porfile_pic{
    align-self: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.icon{
    text-align: center;
    font-size: 2rem;
}

#data-container{
    padding: 0;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: black;
    background-color: transparent;
    text-decoration: underline;
  }