.skill-logo{
    align-self: center;
    height: 3.5em;
    width: 3.5em;
    margin: 0px;
}

.img-container{
    min-height: 3em;
}

.capability-logo{
    height: 12em;
    width: 12em;
}

.skill-container{
    padding: 1vmin 0vmin 1vmin 0vmin;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.capability-container{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}