.App{
    padding: 10vmin 0vmin 0vmin 0vmin;
}

#main-container{
    margin-top: 0vmin;
    padding-top: 5vmin;
    padding-left: 2vmin;
    padding-right: 2vmin;
}

h1, h2, h3, h4, h5{
    font-family: 'Mulish', sans-serif;
}

a, p, span{
    font-family: 'Roboto', sans-serif;
}